body {
    font-family: Arial, sans-serif;
    background-color: #349B48;
    color: #024607;
    padding: 20px;
    max-width: 850px;
    margin: auto;
  }
  
  h1 {
    color: #2E4633;
    text-align: center;
  }
  h2 {
    color: #2E4633;
    text-align: left;
  }
  
  form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 35px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #000000;
  }
  
  label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
    color: #222;
  }
  
  input[type="text"],
  input[type="date"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fafafa;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    border-color: #349B48;
    background-color: #fff;
  }
  
  fieldset {
    border: none;
    margin-top: 10px;
  }
  
  legend {
    font-weight: bold;
    color: #387043;
  }
  
  button {
    margin-top: 18px;
    padding: 10px 22px;
    background-color: #2E4633;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #21C542;
  }
  
  .tarea {
    background-color: #fff;
    border-left: 4px solid #000000;
    margin-bottom: 12px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
    transition: background-color 0.2s;
  }
  
  .tarea:hover {
    background-color: #fffbe6;
  }
  
  .tarea h3 {
    margin: 0;
    font-size: 18px;
    color: #2E4533;
  }
  
  .tarea p {
    margin: 5px 0;
    font-size: 14px;
    color: #444;
  }
  
  